* {
    margin: 0px;
    padding: 0px;
}


/* weather dashboard */

.navbar-dark .navbar-brand {
    color: #fff;
    margin-left: 40%;
}


/* city input and button */

.card-body {
    margin-top: 15px;
    margin-left: 25px;
}


/* search container */

.card-body {
    outline-style: solid;
}

#search-btn {
    padding-bottom: 16px;
}


/* current location info */

.current-weather-container {
    padding: 15px;
    justify-content: flex-end;
    outline-style: solid;
    margin-top: 15px;
}


/* past search history */

.search-history-container {
    outline-style: solid;
    padding: 15px;
    margin-left: 25px;
}